body {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  background-color: #fdfdfd;
  justify-content: flex;
}

h1 {
  font-weight: bold;
}

.header {
  background-color: #fdfdfd;
  color: #d2d2d2;
  text-align: center;
}